
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1868B7;
    color:white;
    padding:1rem;
    margin-top:3rem;

}

.footer-section h2{
    padding:.5rem;
}

.footer-section p{
    padding-bottom:1rem;
}

.email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;;
}

.email input{
    width:60vw;
    height:2.5rem;
    border-radius: 10px;
    border-style: none;
    padding-left:.5rem;
}

.email button{
    height:2.5rem;
    margin-left:.5rem;
    padding-left:1rem;
    padding-right:1rem;
    font-size:1rem;
    border-radius:10px;
    border-style:none;
    font-weight:bold;
    background:#2081E2;
    color:white;

}

